<div class="header">
    <a class="logo">
        <mat-icon>healing</mat-icon>Nit Medicos
    </a>
    <div class="header-right">
        <a routerLink="/home">Home</a>
        <a routerLink="/product">Product</a>
        <a routerLink="/customer">Customer</a>
        <a routerLink="/seller">Seller</a>
    </div>
</div>
<h1>Seller List</h1>

<table >
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
  </tr>
  <tr *ngFor="let seller of sellerList">
    <td>{{seller.id}}</td>
    <td>{{seller.name}}</td>
    <td>{{seller.address}}</td>
    <td>{{seller.phone}}</td>
  </tr>
</table>

