.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  .order {
    text-align:center;
    font-size:40px; 
    color: #d0d0d0;
  }
  .sub button{
    background-color: #c0bdbdd2;
    }
  