.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  .order {
    text-align:center;
    font-size:40px; 
    color: #d0d0d0;
  }
  .sub button{
    background-color: #c0bdbdd2;
    margin-bottom: 30px;
    }

    .btn-add{
      background-color: #c0bdbdd2;
      border-radius:15px;
      padding:13px;
      cursor: pointer;

    }
  