<app-header></app-header>
<div [style.marginTop]="'10px'" [style.marginLeft]="'30px'" fxLayoutAlign="space-between center"  >
    <div >
        <h1 class="order"><b>TAKE ORDER</b></h1>
    </div>
    <div fxLayoutGap="20px" [style.marginRight]="'30px'">
        <button mat-raised-button color="accent" onclick="history.back()">Back</button>
        <button mat-raised-button routerLink="/order-list">Order-list</button>
    </div>

</div>
<form #myForm="ngForm" (ngSubmit)="postAllorder(myForm) ">
    <div fxLayout="column" fxLayoutAlign="center center">
        <!-- seller details -->
        <div fxLayout="row" fxLayoutGap="250px" [style.marginLeft]="'40px'">
            <div>
                <h1 [style.marginTop]="'10px'" [style.marginLeft]="'40px'">Seller detail</h1>
                <div>

                    <mat-form-field appearance="fill" style="width: 245px !important;">
                        <mat-label>Select seller</mat-label>
                        <mat-select name="sellerId" [ngModel]="seller.id" (selectionChange)="sellerChanged($event)"
                            required>
                            <mat-option [value]="item.id" *ngFor="let item of sellerList">{{item.name}}</mat-option>
                        </mat-select>
                        <mat-hint align="end">Seller name ^</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <p>{{seller.phone}}</p>
                    <p>{{seller.address}}</p>
                </div>

            </div>
            <!-- customer Details -->
            <div>
                <h1 [style.marginLeft]="'40px'">Customer detail</h1>
                <div>
                    <mat-form-field appearance="fill" style="width: 245px !important;">
                        <mat-label>Select customer</mat-label>
                        <mat-select name="customerId" [ngModel]="customer.id"
                            (selectionChange)="customerChanged($event)" required>
                            <mat-option [value]="cust.id" *ngFor="let cust of customerList">{{cust.name}}
                            </mat-option>
                        </mat-select>
                        <mat-hint align="end">customer name ^</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <p>{{customer.phone}}</p>
                    <p>{{customer.address}}</p>

                </div>

            </div>
        </div>
        <!-- product details -->
        <h1 [style.marginTop]="'40px'" [style.marginLeft]="'40px'">Product details</h1>


        <div *ngFor="let item of addedProducts; let i = index" fxLayout="row" fxLayoutGap="20px"
            [style.marginLeft]="'40px'">

            <div>
                <mat-form-field appearance="fill" style="width: 245px !important;">
                    <mat-label>Select product</mat-label>
                    <mat-select name="items[{{i}}].name" [(ngModel)]="item.id" (ngModelChange)="calculateAmount(item)"
                        required>
                        <mat-option *ngFor="let product of productList" [value]="product.id">{{product.name}}
                        </mat-option>
                    </mat-select>
                    <mat-hint align="end">product name ^</mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" style="width: 150px !important;">
                    <mat-label>Quantity</mat-label>
                    <input name="items[{{i}}].qty" matInput name="qty" matInput placeholder="Enter Quantity"
                        [(ngModel)]="item.qty" (ngModelChange)="calculateAmount(item)" required />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" style="width: 150px !important;">
                    <mat-label>Price</mat-label>
                    <input name="items[{{i}}].price" matInput name="price" placeholder="Price" [(ngModel)]="item.mrp"
                        readonly>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill" style="width: 180px !important;">
                    <mat-label>Amount</mat-label>
                    <input name="items[{{i}}].amount" matInput name="amount" placeholder="amount"
                        [(ngModel)]="item.amount" readonly>
                </mat-form-field>
            </div>
            <div>
                <button mat-fab color="basic" aria-label="Example icon button with a delete icon"
                    (click)="deleteItem(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>
        <div fxLayout="row" fxLayoutGap="332px" [style.marginLeft]="'40px'" [style.marginTop]="'20px'">
            <div [style.marginTop]="'60px'">
                <span class="btn-add" mat-raised-button (click)="addItem()">+ Add more</span>
            </div>
            <!-- total amount -->
            <div fxLayout="row" fxLayoutGap="20px" [style.marginLeft]="'40px'">
                <h3>Total amount</h3>

                <mat-card style="width: 120px !important;">
                    <mat-card-content name="totalAmount">{{totalAmount}}</mat-card-content>
                </mat-card>

            </div>
        </div>
        <br>

        <div class="sub">
            <button mat-raised-button type="submit">Submit</button>

        </div>
    </div>

</form>