<div class="header">
    <a class="logo">
        <mat-icon>healing</mat-icon>Nit Medicos
    </a>
    <div class="header-right">
        <a routerLink="/home">Home</a>
        <a routerLink="/product">Product</a>
        <a routerLink="/customer">Customer</a>
        <a routerLink="/seller">Seller</a>
    </div>
</div>
<h1>Product List</h1>
<table >
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Mrp</th>
  </tr>
  <tr *ngFor="let product of productList">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.Qty}}</td>
    <td>{{product.Mrp}}</td>
  </tr>
</table>


  
  