<app-header></app-header>
<div [style.marginTop]="'10px'" [style.marginLeft]="'30px'" fxLayoutAlign="space-between center">
    <div>
        <h1>
            Add Seller

        </h1>
    </div>
    <div fxLayoutGap="20px" [style.marginRight]="'30px'"  >
        <button mat-raised-button color="accent" onclick="history.back()">Back</button>
        <button mat-raised-button routerLink="/seller-list">Seller-list</button>
    </div>
</div>

<form #customerForm="ngForm" (ngSubmit)="postAllSeller(customerForm.value)">
    <div [style.marginTop]="'30px'" [style.marginLeft]="'30px'" fxLayout="column" fxLayoutGap="30px">
        <div class="ps" >
            <mat-form-field appearance="fill">
                <mat-label>Seller Name</mat-label>
                <input matInput placeholder="Seller Name" name="name" [(ngModel)]="seller.name">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
        <div class="as">
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Your address" name="address" [(ngModel)]="seller.address">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Mobile number</mat-label>
                <input matInput placeholder="Phone number" name="phone" [(ngModel)]="seller.phone">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div [style.marginLeft]="'30px'" [style.marginTop]="'30px'">
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>
