<div class="header">
    <a class="logo">
        <mat-icon>healing</mat-icon>Nit Medicos
    </a>
    <div class="header-right">
        <a routerLink="/home">Home</a>
        <a routerLink="/product">Product</a>
        <a>Customer</a>
        <a>Seller</a>
    </div>
</div>
<div [style.marginTop]="'10px'" [style.marginLeft]="'30px'">
    <h1>
        Add Product

    </h1>
</div>



<div [style.marginTop]="'30px'" [style.marginLeft]="'30px'" fxLayout="column" fxLayoutAlign="space-between start">
    <div fxFlex="30">

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div><div>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
</div>

</div>