<div class="header">
    <a class="logo">
        <mat-icon>healing</mat-icon>Nit Medicos
    </a>
    <div class="header-right">
        <a routerLink="/home">Home</a>
        <a routerLink="/product">Product</a>
        <a routerLink="/customer">Customer</a>
        <a routerLink="/seller">Seller</a>
    </div>
</div>
<div [style.marginTop]="'10px'" [style.marginLeft]="'30px'">
    <h1>
        Add Product

    </h1>
</div>

<form #productForm="ngForm" (ngSubmit)="postAllProduct(productForm.value)">
    <div [style.marginTop]="'30px'" [style.marginLeft]="'30px'" fxLayout="column" fxLayoutGap="30px">
        <div class="ps">
            <mat-form-field appearance="fill">
                <mat-label>Product Name</mat-label>
                <input matInput placeholder="Name of product" name="name" [(ngModel)]="product.name">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <input matInput placeholder="No. of product" name="Qty" [(ngModel)]="product.Qty">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>MRP</mat-label>
                <input matInput placeholder="Prize of product" name="Mrp" [(ngModel)]="product.Mrp">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div [style.marginLeft]="'30px'" [style.marginTop]="'30px'">
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>