<app-header></app-header>
<div [style.marginTop]="'10px'" [style.marginLeft]="'30px'" fxLayoutAlign="space-between center">
    <div>
        <h1>
            Add Product

        </h1>
    </div>
    <div fxLayoutGap="20px" [style.marginRight]="'30px'"  >
        <button mat-raised-button color="accent" onclick="history.back()">Back</button>
        <button mat-raised-button routerLink="/product-list">Product-list</button>
    </div>
</div>

<form #productForm="ngForm" (ngSubmit)="postAllProduct(productForm.value)">
    <div [style.marginTop]="'30px'" [style.marginLeft]="'30px'" fxLayout="column" fxLayoutGap="30px">
        <div class="ps">
            <mat-form-field appearance="fill">
                <mat-label>Product Name</mat-label>
                <input matInput placeholder="Name of product" name="name" [(ngModel)]="product.name">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <input matInput placeholder="No. of product" name="qty" [(ngModel)]="product.qty">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>MRP</mat-label>
                <input matInput placeholder="Prize of product" name="Mrp" [(ngModel)]="product.Mrp">
                <mat-hint>Fill up</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div [style.marginLeft]="'30px'" [style.marginTop]="'30px'">
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>