<!-- <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p> -->

<div class="header">
    <a class="logo">
        <mat-icon>healing</mat-icon> Medicos
    </a>
    <div class="header-right">
        <a>Home</a>
        <a routerLink="/product">Product</a>
        <a>Customer</a>
        <a>Seller</a>
    </div>
</div>

<div style="padding-left: 20px" div fxLayout="row" fxLayoutAlign="space-between start">
    <div>
        <h1>Product List</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
    </div>
    <div>
        <h1>Customer List</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
    </div>
    <div>
        <h1>Seller List</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
    </div>
</div>