<div class="header">
    <a class="logo" routerLink="/home">
        <mat-icon>healing</mat-icon>Nit Medicos
    </a>
    <div class="header-right">
        <a>Home</a>
        <a routerLink="/product">Product</a>
        <a routerLink="/customer">Customer</a>
        <a routerLink="/seller">Seller</a>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around none">
    <div routerLink="/product-list" style="cursor: pointer;">
        <h1 >Product List</h1>
        <p>you can see the details of product list..</p>
        <p>Some content..</p>
    </div>
    <div style="cursor: pointer;" routerLink="/customer-list">
        <h1 >Customer List</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
    </div>
    <div style="cursor: pointer;" routerLink="/seller-list">
        <h1 >Seller List</h1>
        <p>Resize the browser window to see the effect.</p>
        <p>Some content..</p>
    </div>
</div>