<app-header></app-header>
<div fxLayout="row" fxLayoutAlign="space-around none" [style.marginTop]="'20px'">
    <div routerLink="/product-list" style="cursor: pointer;">
        <h1 >Product List</h1>
        <p>you can see the details of product list..</p>
        <p>Some content..</p>
    </div>
    <div style="cursor: pointer;" routerLink="/customer-list">
        <h1 >Customer List</h1>
        <p>you can see the details of product list..</p>
        <p>Some content..</p>
    </div>
    <div style="cursor: pointer;" routerLink="/seller-list">
        <h1 >Seller List</h1>
        <p>you can see the details of product list..</p>
        <p>Some content..</p>
    </div>
    <div style="cursor: pointer;" routerLink="/order-list">
        <h1 >Order List</h1>
        <p>you can see the details of product list..</p>
        <p>Some content..</p>
    </div>
</div>