<div class="header" >
    <a class="logo" routerLink="/home">
        <mat-icon>healing</mat-icon>Nit Medicos
    </a>
    <div class="header-right">
        <a routerLink="/home">Home</a>
        <a routerLink="/product">Product</a>
        <a routerLink="/customer">Customer</a>
        <a routerLink="/seller">Seller</a>
    </div>
</div>

<h1  >Coustomer list</h1>
<table >
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
    </tr>
    <tr *ngFor="let customer of customerList">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.phone}}</td>
    </tr>
  </table>
  